$list-image-path: "#{$component-path}/iman-styles-lists/assets" !default;

@function list-path($path) {
  @return "#{$list-image-path}/#{$path}";
}

@function list-url($path) {
  @return url(list-path($path));
}

.list-inline {
  @include clear-floats;
  list-style: none;
  & > li,
  & > .list__item {
    float: left;
  }
}

// List with white arrows
.list-1 {
  margin: 0;
  li {
    @include improve-text-rendering;
    list-style: none;
    line-height: 21px;
    padding-left: 15px;
    background: list-url('icon-arrow-right-white.png') no-repeat 0 7px;
    background: list-url('icon-arrow-right-white.svg') no-repeat 0 7px, none;
    margin-top: 5px;
  }
}

// List with a title and a list of links
.list-2 {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: baseline(0.25) 0;
    line-height: 15px;
  }
}

// Iman Sidebar Subnav
.list-3 {
  list-style-type: none;
  margin: 0;
  padding: 0 0 250px 0;
  position: relative;

  &:after {
    @include vertical-gradient(#d6d6d6, $white);
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    z-index: 1;
  }

  .list__item {
    background: lighten(#fafafa, 1%);
    border: 1px solid #ddd;
    border-top: none;
    font-family: $font-family-roboto;
    position: relative;
    z-index: 2;

    &:after {
      background: #fff;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:first-child {
      border-top: 1px solid #ddd;
    }
  }

  .list__item:hover {
    background: #f6f6f6;
  }

  .list__item a {
    @include improve-text-rendering;
    @extend .anchor-3;
    display: block;
    font-size:size(1);
    font-weight: bold;
    line-height: baseline(1);
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
  }

  .list__item a.is-current {
    color: $grey-darkest;
  }
}

.list-4 {
  margin:0;
  padding:0;

  .list__item {
    line-height: baseline(1.2); // 20px
    list-style-position: inside;
    margin: 5px 0;
    padding: 0 0 0 0;
  }
}

.list-5 {
  list-style-type: none;
  margin:0;
  padding:0;

  .list__item {
    font-size:size(2);
    line-height: baseline(2); // 40px
    margin: 5px 0;
    padding: 0 0 0 0;
  }
}

.list-6 {
  list-style-type: none;
  margin:0;
  padding:0;

  .list__item {
    font-size:size(2);
    line-height: baseline(1); // 40px
    margin: 5px 0;
    padding: 0 0 0 0;
  }
}

.list-7 {
  list-style-type: none;
  margin:0;
  padding:0;

  .list__item {
    background-image: list-url('icon-tick-circle-green-16.png');
    background-image: list-url('icon-tick-circle-green-16.svg'), none;
    background-position: 0 4px;
    background-repeat: no-repeat;
    font-family: $font-family-roboto;
    font-size:18px;
    font-weight: 300;
    line-height: 24px;
    margin: 5px 0;
    padding: 0 0 0 25px;
  }
}

// Product nav on home page
.list-8 {
  list-style-type: none;
  margin:0;
  padding:0;

  .list__item {}

  .list__item a {
    @include improve-text-rendering;
    background-color: none;
    border-top: 1px dotted #eee;
    color: #47428d;
    display: block;
    font-family: $font-family-roboto;
    font-size:18px;
    font-weight: 300;
    line-height: 24px;
    padding: 7px 10px;
    text-decoration: none;
  }

  .list__item--transition a {
    -webkit-transition:
      border-color 0.4s ease,
      background-color 0.4s ease,
      background-position 0.4s ease,
      padding-left 0.4s ease;
    -moz-transition:
      border-color 0.4s ease,
      background-color 0.4s ease,
      background-position 0.4s ease,
      padding-left 0.4s ease;
    transition:
      border-color 0.4s ease,
      background-color 0.4s ease,
      background-position 0.4s ease,
      padding-left 0.4s ease;
  }

  .label {
    background-image: list-url('icon-arrow-circle-purple-16.png');
    background-image: list-url('icon-arrow-circle-purple-16.svg'), none;
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    font-weight: bold;
    padding-left: 25px;
  }

  .list__item a:hover {
    background-color: #fdfdfd;
    background-position: 25px 10px;
    padding-left: 26px;
  }

  .list__item:first-child a{
    border: none;
  }

  .price {
    color: #444;
    float: right;
  }

  .list__item a:hover .price {
    font-weight: bold;
  }
}